$color-black: rgb(28, 26, 26);
$color-dark-gray: rgba(48, 45, 45, 0.34);
$color-aquamarine: rgb(111, 207, 151);
$color-green: rgba(116, 174, 170, 0.95);
$color-green-light42: rgba(165, 191, 180, 0.42);
$color-purple: rgba(124, 111, 207, 0.97);
$color-gray: rgb(130, 130, 130);
$color-white: rgb(242, 242, 242);
$color-white30: rgba(242, 242, 242, 0.4);
$color-white40: rgba(242, 242, 242, 0.3);
